DEBUG=False
ADMIN_EMAIL=admin@example.com
DEFAULT_FROM_EMAIL=sender@example.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=sender@example.com
EMAIL_HOST_PASSWORD=your-new-app-password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
